body{
    background-color: #000000;
    font-family: vt323;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
}


.container div {
    background-color: #88BB92;
    height: 600px;
    border: 1px solid;
}
.vt323-regular {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
  }
  