body{
    background-color: #121212;
    font-family: 'Courier New', Courier, monospace;
    color: #eaeaea;
    margin: 0;
    padding: 20px;
}

.container {
    justify-content: center;
    align-items: center;
}

nav {
    font-family: 'Courier New', Courier, monospace;
    color: #eaeaea;
    justify-content: center;    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

  