body{
    background-color: #000000;
    font-family: 'Courier New', Courier, monospace
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


nav li {
    display: inline-block;
}

nav ul {
    display: inline-block;
}
.vt323-regular {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
  }
  